@interloopdata:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=AE38E83A-F908-4B31-9432-2CDD27F2E7D9